@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');/*2 шрифта*/
 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
    z-index: 1;
} 
.decoration{
    max-width: 100vw;

    .circule{
        position: absolute;

        z-index: 0;

        width: 246px;
        height: 246px;
        border-radius: 100%;
        filter: blur(100px);

        opacity: 0.5;
        background-color: #FF00C8;
    }

    .c1{
        top: 570px;
        left: 30px;
    }

    .c2{
        top: 2000px;
        left: 500px;
    }

    .c3{
        top: 900px;
        right: 450px;
    }

    .c4{
        top: 3000px;
        right: 400px;
    }

    .c5{
        top: 4000px;
        left: 500px;
    }

    .c6{
        top: 6200px;
        right: 400px;
    }

    .c7{
        top: 5300px;
        left: 200px;
    }
}

html {
    // background: #01204C;
    // background: rgba(32, 8, 59, 0.75);
    scroll-behavior: smooth;
    
}
body {
    // backdrop-filter: blur(92.3058px);
    background: rgba(32, 8, 59, 1);
    color: #fff;

    position: relative;
}

.container {
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: 900px) {
        padding: 0;
        margin: 0 25px;
    }
}

.header {
    width: 100%;
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 19.8983px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
    .logo__text-color {
        color: #fff;
    }
    a {
        padding: 11px;
        &:hover {
            color: #fff;
            .logo__text-color {
                color: #FF56F6;
                transition: color 0.5s;
            }
            .menu-icons__cart path {
                stroke: #FF56F6;
                transition: stroke 0.5s;
            }
            .menu-icons__profile path {
                fill: #FF56F6;
                transition: fill 0.5s;
            }
            transition: color 0.5s;
        }
    }
}

.scroll-down .first-screen {
    top: 107px;
}
.scroll-down .header {
    z-index: 10;
    position: fixed;
    top: 0;
    transition:0.2s;
    background: rgba(32, 8, 59, 0.75);
    &.active {
        background: rgba(32, 8, 59, 1);
    }
}

.header__wrapper, .logo, .menu, .menu__list, .menu-icons {
    display: flex;
    align-items: center;
}
.header__wrapper {
    padding: 25px 0;
    @media screen and (max-width: 900px) {
        justify-content: space-between;
        .menu, .menu-icons {
            display: none;
        }
        .burger-menu {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            width: 21.71px;
            cursor: pointer;
            & span {
                background: #fff;
                border-radius: 10px;
                height: 2.81px;
                margin: 3px 0;
                transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
            }
            span:nth-of-type(1){
                width: 100%;
            }
            span:nth-of-type(2){
                // width: 13.57px;
                width: 100%;
            }
            span:nth-of-type(3){
                width: 100%;
            }
            input[type="checkbox"]{
                display:none;
            }
            input[type="checkbox"]:checked ~ span:nth-of-type(1){
                transform-origin:bottom;
                transform:rotatez(45deg) translate(6.5px,5px);
            }
            input[type="checkbox"]:checked ~ span:nth-of-type(2){
                width: 0;
            }input[type="checkbox"]:checked ~ span:nth-of-type(3){
                transform-origin:top;
                transform: translate(4px,-7px) rotatez(135deg);
            }
        }
    }
}

.logo {
    gap: 5px;
}

.menu {
    margin-left: 14%;
    margin-right: auto;
}

.menu__list {
    gap: 44px;
}

.menu-icons {
    gap: 20px;
}

.burger-menu {
    display: none;
}

.dropdown-menu {
    display: none;
    height: 100vh;
    background: rgba(32, 8, 59, 1);
    &.active {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        font-size: 24px;
        .menu, .menu__list, .menu-icons {
            flex-direction: column;
            gap: 30px;
        }
        .menu {
            margin: 30px auto;
        }
        .menu-icons {
            margin-bottom: 150px;
        }
        .menu-icon {
            scale: 1.5;
        }
    }
}

.first-screen {
    position: relative;
    margin-top: 100px;
}

.first-screen__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    @media screen and (max-width: 1140px) {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        .partners-2 {
            margin-top: 40px;
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 35px;
        }
    }
    @media screen and (max-width: 900px) {
        .partner {
            max-width: 188px;
        }
    }
    @media screen and (max-width: 451px) {
        .first-screen__content-nft {
            max-width: 324px;
        }
        .first-screen__content-img img {
            max-width: 100%;
        }
        .first-screen__content-auction {
            padding: 20px;
        }
        .nft__title {
            font-size: 17.0526px;
            line-height: 34px;
        }
        .nft__owner-name {
            font-size: 14.9211px;
            line-height: 34px;
        }
        .nft__auction-text {
            font-size: 10.6579px;
            line-height: 34px;
        }
        .nft__auction-price img {
            width: 18.74px;
        }
        .nft__auction-eth {
            font-size: 9.36903px;
            line-height: 12px;
        }
        .nft__auction-dollars {
            font-size: 10.6579px;
            line-height: 34px;
        }
        .nft__auction-number{
            font-size: 17.0526px;
            line-height: 34px;
        }
        .nft__auction-button {
            font-size: 17.0526px;
            line-height: 22px;
            img {
                width: 23.45px;
            }
        }
    }
}

.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    @media screen and (max-width: 1140px) {
      display: none;
    }
} 
.partners-2 {
    display: none;
}
  
.first-screen__content-main {
    max-width: 56.357%;
    .first-screen__content-title {
        font-family: 'League Spartan';
        font-weight: 600;
        font-size: 66.3276px;
        line-height: 137.4%;
        margin-bottom: 21px;
        .gradient {
            background: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    .first-screen__content-text {
        font-family: 'Rajdhani';
        font-weight: 400;
        font-size: 26.531px;
        line-height: 44px;
        margin-bottom: 40px;
    }

    .first-screen__content-buttons, .button {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 19.8983px;
        line-height: 25px;
    }

    .button {
        clip-path: polygon(20% 0%, 100% 0, 100% 70%, 80% 100%, 0 100%, 0% 30%);
    }

    .first-screen__content-buttons {
        display: flex;
        gap: 38px;
        align-items: center;
        margin-bottom: 68px;
        .first-screen__content-link {
            background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    .first-screen__content-stats {
        display: flex;
        gap: 55px;
    }

    .first-screen__content-stat {
        position: relative;
    }

    .first-screen__content-stat + .first-screen__content-stat::after {
        content: "";
        width: 0;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.26);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -40px;
        
    }

    .first-screen__content-number {
        font-family: 'Aldrich';
        font-weight: 400;
        font-size: 39.7965px;
        line-height: 53px;
        letter-spacing: 0.221092px;
    }
    .first-screen__content-name {
        font-family: 'Alethia Next Light';
        font-weight: 400;
        font-size: 17.6873px;
        line-height: 22px;
        letter-spacing: 0.221092px;
    }
    @media screen and (max-width: 1140px) { 
        max-width: 100%;
    }
    @media screen and (max-width: 644px) { 
        .first-screen__content-title {
            font-family: 'League Spartan';
            font-weight: 700;
            font-size: 42px;
            line-height: 137.4%;
            margin-bottom: 40px;
        }
        .first-screen__content-text {
            font-size: 14px;
            line-height: 23px;
        }
        .first-screen__content-buttons, .button {
            font-size: 12px;
            line-height: 15px;
        }
        .button__inside {
            padding: 11px 15px;
            img {
                width: 28px;
            }
        }   
        .first-screen__content-stat + .first-screen__content-stat::after {
            content: unset;
        }
        .first-screen__content-number {
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.117972px;
        }
        .first-screen__content-name {
            font-family: 'Lato';
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 0.117972px;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}
.nft {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 11.0546px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
    .nft__auction {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
        border: 2px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        padding: 30px 20px;
        display: flex;
        position: relative;
        justify-content: space-between;
        backdrop-filter: blur(30px);
        .nft__auction-group {
            display: flex;
            flex-direction: column;
        }
        .nft__title {
            font-weight: 700;
            font-size: 17.6873px;
        }
        .nft__owner, .nft__auction-price {
            display: flex;
            align-items: center;
            gap: 3px;
        }
        .nft__owner-name {
            font-size: 15.4764px;
        }
        .nft__auction-text {
            opacity: 0.7;
        }
        .nft__auction-price {
            margin-top: -10px;
        }
        .nft__auction-eth {
            font-family: 'Orbitron';
            font-weight: 700;
            color: #fff;
        }
        .nft__auction-dollars {
            font-weight: 400;
            opacity: 0.7;
        }
        .nft__auction-time {
            display: flex;
            gap: 25px;
            .nft__auction-text {
                font-weight: 500;
                margin-top: -15px;
                margin-bottom: 10px;
            }
        }
        .nft__auction-number {
            margin-top: -15px;
            font-weight: 600;
            font-size: 17.6873px;
        }
        .nft__auction-button {
            border: 2.21px solid;
            border-image-source: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
            border-image-slice: 1;
            box-shadow: 0px 4.81747px 30px rgba(255, 86, 246, 0.51);
            padding: 8px 10px;
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 17.6873px;
            line-height: 23px;
        }
    }
}

.first-screen__content-nft {
    margin-right: 90px;
    max-width: 491px;
    .first-screen__content-img {
        filter: drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25));
    }
    .first-screen__content-img img {
        clip-path: polygon(20% 0%, 100% 0, 100% 90%, 85% 100%, 0 100%, 0% 15%);
    }
    @media screen and (max-width: 1140px) {
        margin-top: 50px;
        margin-right: 0;
    }
    .first-screen__content-auction {
        border-radius: 8.84367px;
        position: absolute;
        right: -90px;
        bottom: 0;
        @media screen and (max-width: 1140px) {
            position: relative;
            right: 0;
            bottom: 85px;
        }
    }
}
// .partners-2{
//     display: block;
//     width: 100%;
//     margin-bottom: 58px;
//     margin-top: 41px;
//     display: -ms-grid;
//     display: grid;
//     -ms-grid-columns: 1fr 1fr;
//     grid-template-columns: 1fr 1fr;
//     -webkit-box-align: center;
//         -ms-flex-align: center;
//             align-items: center;
//     justify-items: center;
// }


.top-nft {
    margin-bottom: 160px;
    .container {
        overflow-x: hidden;
    }
    @media screen and (max-width: 938px) {
        margin-bottom: 100px;
    }
}

.top-nft__top, .profiles__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 26.531px;
    line-height: 33px;
    margin-bottom: 47px;
    .title {
        font-weight: 700;
        font-size: 26.531px;
    }
    @media screen and (max-width: 548px) {
        .view__all-link {
            display: none;
        }
    }
}

.top-nft__content-swiper {
    .swiper-wrapper {
        justify-content: space-between;
        gap: 25px;
    }
    .swiper-slide {
        flex-shrink: unset;
    }

    .nft {
        line-height: 46px;
        .nft__title {
            font-size: 23.0401px;
        }
        .nft__owner, .nft__auction-price {
            gap: 5px;
        }
        .nft__owner-name {
            font-size: 20.1601px;
        }
        .nft__auction-price {
            margin-top: -20px;
        }
        .nft__auction-eth {
            font-size: 12.6587px;
            line-height: 16px;
        }
        .nft__auction-dollars {
            font-size: 14.4001px;
        }
        .nft__auction-text {
            font-weight: 600;
            font-size: 14.4001px;
        }
            .nft__auction-time {
                .nft__auction-text {
                    margin-top: -25px;
                }
            }
        .nft__auction-number {
            font-size: 23.0401px;
        }
        .nft__auction-button {
            padding: 10px 13px;
            font-size: 23.0401px;
            line-height: 29px;
        }
        @media screen and (max-width: 548px) {
            line-height: 27px;
            max-width: 300px;
            .nft__img img {
                width: 100%;
            }
            .nft__auction {
                padding: 10px;
                gap: 10px;
            }
            .nft__title {
                font-size: 13.6006px;
            }
            .nft__owner, .nft__auction-price {
                gap: 3px;
            }
            .nft__owner-pfp {
                width: 26px;
                height: 26px;
            }
            .nft__owner-name {
                font-size: 11.9006px;
            }
            .nft__auction-price {
                margin-top: 0;
                img {
                    width: 17px;
                }
            }
            .nft__auction-eth {
                font-size: 7.47244px;
                line-height: 9px;
            }
            .nft__auction-dollars {
                font-size: 8.5004px;
            }
            .nft__auction-text {
                font-size: 8.5004px;
            }
                .nft__auction-time {
                    gap: 10px;
                    .nft__auction-text {
                        margin-top: -15px;
                    }
                }
            .nft__auction-number {
                font-size: 13.6006px;
                margin-top: -10px;
            }
            .nft__auction-button {
                padding: 9px 7px;
                font-size: 13.6006px;
                line-height: 17px;
                gap: 5px;
                img {
                    width: 22px;
                }
            }
        }
    }
}

.top-nft__auction {
    position: relative;
    bottom: 20px;
}

.collections {
    margin-bottom: 160px;
    @media screen and (max-width: 938px) {
        margin-bottom: 100px;
    }
}

.collections .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @media screen and (max-width: 1268px) {
        flex-direction: column;
        gap: 5px;
    }
}

.collections__wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 26.531px;
    line-height: 33px;
    .collections__title {
        font-weight: 700;
        font-size: 26.531px;
        @media screen and (max-width: 337px) {
            font-size: 24px;
        }
    }
    .view__all-link {
        font-size: 19.8983px;
        line-height: 25px;
    }
}

.collections__items {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 43px;
    max-width: 782px;
    @media screen and (max-width: 810px) {
        gap: 18px;
    }
}

.collections__item {
    cursor: pointer;
    text-align: center;
    padding: 30px 0;
    width: 365px;
    border: 2.88px solid;
    border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    border-image-slice: 1;
    opacity: 0.5;
    color: rgba(255, 255, 255);
    &:hover {
        color: #fff;
        opacity: 1;
        backdrop-filter: blur(105px);
        transition: all 0.3s ease-in;
    }
    @media screen and (max-width: 810px) {
        font-size: 20px;
        line-height: 25px;
        padding: 25px 0;
        width: 300px;
    }
    @media screen and (max-width: 680px) {
        font-size: 18px;
        line-height: 20px;
        padding: 20px 0;
        width: 250px;
    }
    @media screen and (max-width: 574px) {
        font-size: 16px;
        line-height: 16px;
        width: 200px;
    }
    @media screen and (max-width: 474px) {
        font-size: 10.9922px;
        line-height: 14px;
        padding: 15px 0;
        width: 150px;
    }
    @media screen and (max-width: 367px) {
        font-size: 10px;
        line-height: 12px;
        padding: 10px 0;
        width: 120px;
    }
}

.collections__item--active {
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    color: #fff;
    opacity: 1;
    backdrop-filter: blur(105px);
    box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.view__all {
    text-align: right;
}

.collection__item {
    max-height: 815px;
    max-width: 436px;
    @media screen and (max-width: 474px) {
        max-width: 270px;
    }
}   

.profiles {
    margin-bottom: 160px;
    @media screen and (max-width: 938px) {
        margin-bottom: 100px;
    }
}

.profiles .container {
    overflow-x: hidden;
}

.profiles__swiper {
    .swiper-wrapper {
        justify-content: space-between;
        gap: 30px;
        @media screen and (max-width: 350px) {
            gap: 20px;
        }
    }
    .swiper-slide {
        flex-shrink: unset;
    }
    @media screen and (max-width: 535px) {
        .profile {
            max-width: 300px;
        }
        .profile__bg img {
            width: 100%;
        }
        .profile__pfp {
            left: 70px;
            top: 50px;
            img {
                width: 112.5px;
                height: 112.5px;
            }
        }
        .profile__info {
            padding: 50px 25px 25px 25px;
            line-height: 32px;
            .profile__info-name {
                font-size: 16.8391px;
            }
            .profile__info-nickname {
                font-size: 13.9587px;
                margin-top: -10px;
            }
            .profile__info-stats {
                margin-bottom: 10px;
            }
            .profile__info-number {
                font-size: 21.9417px;
                line-height: 44px;
            }
            .profile__info-text {
                font-size: 13.7136px;
                line-height: 44px;
                margin-top: -20px;
            }
        }
    }
}

.profile, .profile__info {
    width: 100%;
    position: relative;
}

.profile__pfp {
    z-index: 2;
    position: absolute;
    left: 134px;
    top: 105px;
    text-align: center;
    img {
        width: 162.5px;
        height: 162.5px;
        border-radius: 50%;
    }
}

.profile__info {
    bottom: 5px;
    padding: 75px 39px 40px 39px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Rajdhani';
    line-height: 46px;
    .profile__info-name {
        font-weight: 500;
        font-size: 24.3201px;
    }
    .profile__info-nickname {
        font-weight: 400;
        font-size: 20.1601px;
        color: #FFB1EE;
        margin-top: -20px;
    }
    .profile__info-stats {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .profile__info-number {
        font-weight: 600;
        font-size: 31.6897px;
        line-height: 63px;
    }
    .profile__info-text {
        font-weight: 500;
        font-size: 19.8061px;
        line-height: 63px;
        opacity: 0.7;
        margin-top: -30px;
    }
    .profile__info-button {
        font-family: 'Rajdhani';
        font-weight: 600;
        font-size: 19.8983px;
        line-height: 25px;
        padding: 11px 74px;
        box-shadow: 0px 4.81747px 30px rgba(255, 86, 246, 0.51);
        border: 2.21px solid;
        border-image-source: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
        border-image-slice: 1;
    }
}

.top-nft__bot, .profiles__bot {
    display: none;
    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        .button-mobile {
            display: block;
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
        }
    }
}

.top-sellers {
    margin-bottom: 160px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 26.531px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 23px;
        span {
            color: #FF56F6;
        }
    }
    .top-sellers__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 17.6873px;
        line-height: 25px;
        text-align: center;
        max-width: 506px;
        margin-bottom: 39px;
    }
    .top-sellers__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        @media screen and (max-width: 1360px) {
            gap: 35px;
        }
    }
    .top-sellers__content-card {
        width: 437px;
        backdrop-filter: blur(38px);
        border-radius: 28.5719px;
        border: 2.76px solid rgba(255, 255, 255, 0.1);
        padding: 25px 21px;
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 19.0479px;
        line-height: 44px;
    }
    .top-sellers__content-number {
        color: rgba(255, 255, 255, 0.8);
        margin-right: 17px;
    }
    .top-sellers__content-pfp {
        width: 69px;
        border-radius: 50%;
        margin-right: 13px;
    }
    .top-sellers__content-eth {
        font-size: 13.7568px;
        opacity: 0.8;
        img {
            height: 14px;
        }
    }
    .top-sellers__content-income {
        padding: 0 17px;
        border-radius: 17.53px;
        margin-left: auto;
        font-size: 14.7012px;
        line-height: 35px;
    }
    .green {
        border: 1.13px solid rgba(0, 179, 71, 0.45);
        background: rgba(0, 179, 71, 0.15);
        color: #00FF66;
    }
    .red {
        border: 1.13px solid rgba(235, 20, 20, 0.45);
        background: rgba(235, 20, 20, 0.15);
        color: #FF0000;
    }
    .button {
        // font-family: 'Rajdhani';
        font-family: 'Orbitron';
        font-weight: 600;
        font-size: 19.8983px;
        line-height: 29px;
        margin-top: 73px;
    }
    .top-sellers__button {
        padding: 11px 75px;
        border: 2.21px solid;
        border-image-source: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
        border-image-slice: 1;
        box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
    }
    @media screen and (max-width: 1360px) {
        .top-sellers__content-card:nth-last-child(-n+4) {
            display: none;
        }
    }
    @media screen and (max-width: 938px) {
        margin-bottom: 100px;
        .top-sellers__content-card:nth-last-child(-n+8) {
            display: none;
        }
        .button {
            display: none;
            margin-top: 35px;
        }
        .button-mobile {
            display: flex;
            font-size: 12px;
            line-height: 15px;
        }
        // .button__inside {
        //     padding: 10px 28px;
        // }
    }
    @media screen and (max-width: 475px) {
        .title {
            font-size: 19.2314px;
            line-height: 24px;
            margin-bottom: 17px;
        }
        .top-sellers__text {
            font-size: 14px;
            line-height: 140.19%;
            margin-bottom: 35px;
        }
        .top-sellers__content {
            gap: 25px;
        }
        .top-sellers__content-card {
            width: 317px;
            padding: 20px 15px;
            font-size: 13.8072px;
            line-height: 32px;
        }
        .top-sellers__content-number {
            color: rgba(255, 255, 255, 0.8);
            margin-right: 17px;
        }
        .top-sellers__content-pfp {
            width: 51px;
        }
        .top-sellers__content-eth {
            font-size: 9.97186px;
            opacity: 0.8;
            img {
                height: 10px;
            }
        }
        .top-sellers__content-income {
            padding: 0 12px;
            border-radius: 17.53px;
            margin-left: auto;
            font-size: 10.6564px;
        }
    }
    @media screen and (max-width: 330px) {
        .title {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 15px;
        }
        .top-sellers__text {
            font-size: 12px;
            line-height: 120%;
            margin-bottom: 25px;
        }
        .top-sellers__content {
            gap: 15px;
        }
        .top-sellers__content-card {
            width: 290px;
            padding: 10px;
            font-size: 12px;
            line-height: 25px;
        }
        .top-sellers__content-number {
            color: rgba(255, 255, 255, 0.8);
            margin-right: 10px;
        }
        .top-sellers__content-pfp {
            width: 47px;
        }
        .top-sellers__content-eth {
            font-size: 9px;
        }
        .top-sellers__content-income {
            padding: 0 10px;
            border-radius: 17.53px;
            margin-left: auto;
            font-size: 10px;
            line-height: 25px;
        }
    }
}

.about-nft {
    position: relative;
}

.about-nft__bg {
    width: 100%;
    @media screen and (max-width: 856px) {
        height: 300px;
    }
}

.about-nft__content {
    position: relative;
    top: -300px;
    margin-right: 140px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(72px);
    max-width: 577px;
    padding: 55px;
    font-family: 'Inter';
    .about-nft__content-title {
        font-weight: 800;
        font-size: 44.5093px;
        line-height: 60px;
    }
    .about-nft__content-text {
        font-weight: 400;
        font-size: 20.0292px;
        line-height: 36px;
    }
    .about-nft__content-links {
        display: flex;
        gap: 44px;
        font-weight: 500;
        font-size: 17.8037px;
        line-height: 27px;
    }

    .about-nft__content-link {
        padding: 5px;
        display: flex;
        gap: 9px;
        align-items: center;
    }
    @media screen and (max-width: 856px) {
        top: -210px;
        max-width: 336px;
        margin: 0 auto;
        padding: 40px;
        .about-nft__content-title {
            font-size: 25.87px;
            line-height: 35px;
        }
        .about-nft__content-text {
            font-size: 11.6415px;
            line-height: 21px;
        }
        .about-nft__content-links {
            gap: 25px;
            font-size: 10.348px;
            line-height: 16px;
        }
        .about-nft__content-link img {
            width: 7.11px;
            height: 10.35px;
        }
    }
}

.news .container {
    display: flex;
    margin-bottom: 170px;
    .news_img {
        border-radius: 4.42184px;
        max-width: 698px;
        object-fit: cover;
    }
    @media screen and (max-width: 1340px) {
        gap: 100px;
        align-items: center;
        flex-direction: column-reverse;
    }
    @media screen and (max-width: 938px) {
        margin-top: -100px;
        margin-bottom: 100px;
    }
    @media screen and (max-width: 768px) {
        .news_img {
            width: 100%;
            height: 380px;
        }
    }
}

.news_content {
    max-width: 491px;
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .news_content-title {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 39.7965px;
        line-height: 50px;
    }
    .news_content-text {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 19.8983px;
        line-height: 35px;
    }
    .news_content-subscribe {
        display: flex;
        gap: 10px;
        input {
            padding: 15px 18px;
            border-radius: 5.5273px 0px 0px 5.5273px;
            background: #F4F5F7;
            color: #474A57;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 15.4764px;
            line-height: 27px;
        }
        .subscribe-button {
            padding: 10px 34px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 15.4764px;
            line-height: 22px;
            border: 2.21px solid;
            border-image-source: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
            border-image-slice: 1;
            box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
            border-radius: 0px 5.5273px 5.5273px 0px;
        }
    }
    @media screen and (max-width: 1340px) {
        margin: 0;
    }
    @media screen and (max-width: 449px) {
        gap: 20px;
        .news_content-title {
            font-size: 26.2703px;
            line-height: 33px;
        }
        .news_content-text {
            font-size: 13.1351px;
            line-height: 23px;
        }
        .news_content-subscribe {
            input {
                padding: 0 12px;
                border-radius: 3.64865px 0px 0px 3.64865px;
                font-size: 10.2162px;
                line-height: 18px;
            }
            .subscribe-button {
                border-radius: 0px 3.64865px 3.64865px 0px;
                font-size: 10.2162px;
                line-height: 15px;
                padding: 8px 22px;
            }
        }
    }
}



.button {
    border-color: transparent;
    display: flex;
    gap: 10px;
    background: linear-gradient(90deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    align-items: center;
    cursor: pointer;
}

.button__inside {
    padding: 19px 32px;
    background: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    background: rgba(32, 8, 59, 0.75);
    clip-path: polygon(20% 0%, 100% 0, 100% 70%, 80% 100%, 0 100%, 0% 30%);
    &:hover {
        background: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    }   
}
// @media screen and (max-width: 938px){
//     .button__inside {
//         padding: 11px 15px;
//     }
// }

// @media screen and(max-width:900px){
    .button-mobile{
        display: none;
        border-color: transparent;
        align-items: center;
        gap: 5px;
        background: linear-gradient(90deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
        clip-path: polygon(20% 0%, 100% 0, 100% 70%, 80% 100%, 0 100%, 0% 30%);
        img {
            width: 28px;
        }
}

.top-nft__bottom  /*, .profiles__bot */ {
    display: none;
    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        .button-mobile {
            display: block;
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
        }
    }
    @media screen and (max-width: 547px) { 
        .button__inside {
            padding: 11px 15px;
        }
    }
}
@media screen and (max-width: 644px) { 
    .button_inside{
        padding: 11 15;
    }
}

.hidden {
    overflow: hidden;
}
.footer {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 27px;
    color: #D9DBE1;
    hr {
        width: 100%;
        height: 1px;
        background: #FFFFFF;
        opacity: 0.2;
    }
}

.footer__top {
    margin-bottom: 85px;
    .footer__top-content {
        margin-top: 100px;
        display: flex;
        gap: 33px;
        @media screen and (max-width: 1020px) {
            flex-wrap: wrap;
            .footer__top-group {
                max-width: none;
            }
        }
        @media screen and (max-width: 768px) {
            margin-top: 30px;
            gap: 50px;
            .footer__top-group {
                width: 100%;
            }
            .footer__list-title {
                padding: 15px 0;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                img {
                    display: block;
                }
            }
            
            .list__underline {
                display: block;
            }
            .footer__top-list {
                display: none;
            }
        }
        .active {
            display: flex;
            gap: 10px;
            margin: 0 0 10px 10px;
        }
    }
    .list__underline {
        display: none;
    }
    .footer__top-group {
        max-width: 282px;
    }
    .footer__top-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    .logo {
        width: min-content;
        margin-bottom: 30px;
    }
    .logo__text {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 19.8983px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .footer__top-icons {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-top: 26.5px;
    }

    .footer__list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 31px;
        color: #FFFFFF;
        img {
            display: none;
        }
    }

    .footer__top-list {
        display: flex;
        flex-direction: column;
        gap: 13.27px;
        margin-top: 18px;
        span {
            font-family: 'MuseoModerno';
            font-weight: 400;
            font-size: 22.1092px;
            line-height: 27px;
            color: #2EC5CE;
        }
    }
}

.footer__bot {
    padding-bottom: 25px;
    .footer__bot-content { 
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        gap: 35px;
    }
    
    .footer__bot-group {
        display: flex;
        gap: 23.21px;
        .footer__link {
            position: relative;
        }
        .footer__link + .footer__link::after {
            content: "|";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -15px;
            @media screen and (max-width: 400px) {
                content: unset;
            }
        }
    }
    @media screen and (max-width: 735px) {
        hr {
            display: none;
        }
        .footer__bot-content { 
            flex-direction: column-reverse;
            align-items: center;
            .footer__bot-group {
                width: 100%;
                justify-content: center;
            }
        }
    }
    @media screen and (max-width: 400px) {
        .footer__bot-content .footer__bot-group {
            justify-content: space-between;
        }
        .footer__link:nth-child(3) {
            display: none;
        }
    }
}
